div{
    border : 1px solid black;
    box-sizing: border-box; 
    /* content + padding + border 합으로 width/height 지정 */
}

.item{
    width: 75px;
    height: 75px;
}

.item1{background-color: red;}
.item2{background-color: orangered;}
.item3{background-color: orange;}
.item4{background-color: yellow;}
.item5{background-color: yellowgreen;}
.item6{background-color: green;}
.item7{background-color: lightblue;}
.item8{background-color: blue;}
.item9{background-color: violet;}

.flex-container{
    height: 700px;
    /* display: flex (부모 전용 속성) */
    /* 디폴트 값은, 메인축을 가로로 교차축을 세로로 하게 해줌 */
    /* 아이템들을 inline요소로 만들어줌 */
    display: flex; 

    /* flex-direction (부모 전용 속성) */
    /* 메인축의 방향과 시작 위치를 지정하는 속성 */
    /* row, row-reverse, column, column-reverse 이렇게 4가지 값이 올 수 있다. */
    flex-direction: row;

    /* flex-wrap(부모 전용 속성) */
    /* 아이템들을 강제로 한줄에 배치되게 할지, 한줄을 벗어나 여러 줄로 배치할 것인지 지정*/
    /* nowrap(디폴트값, 강제로 한줄에 배치되게 함), wrap(자리없으면 다음줄로 보냄) 
        wrap-reverse;
    */
    /* 근데, flex-wrap 을 wrap 이나 wrap-reverse 줬더니, 좀 예상치 못하게 자리배정되긴 하더라. */
    flex-wrap:nowrap;

    /* justify-content */
    /* 메인축 방향으로 아이템의 정렬 방법을 조정함 */
    /* flex-start(메인축 방향으로 앞에서부터 정렬하겠다)
        flex-end(메인축 방향으로 끝에서부터 정렬하겠다)
        center(메인축 방향 가운데 정렬)
        space-around(양끝에는 똑같은 여백을 가지고 있고, 그 안에 들어있는 아이템들은 일정한 간격을 가지고 정렬시켜주는것.
            그래서, space-around는 양끝의 여백과 아이템들간의 간격은 다르다.
        )
        space-evenly(양끝여백과 아이템들간 간격이 모두 동일하다.)
        space-between(양끝을 모두 딱 달라붙게 붙인 상태에서 아이템들간 간격은 일정함.)
    */
    justify-content: space-between;

    /* align-items */
    /* 교차축 방향으로 아이템의 정렬 방법을 조정함 */
    /* flex-start, flex-end, center, space-around, space-evenly, space-between */
    align-items: space-evenly;
}

#con{
    width:450px;
    height:450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#center{
    width: 80px;
    height:80px;
    background-color: red;
}

/* ------------------------------------------------------ */
/* 자식(아이템) 들에 관한 속성 */

/* flex-basis*/
/* order: 숫자;  : 아이템들의 배치순서를 정함. 숫자가 적을수록 앞으로 옴.*/
.basis-20{
    flex-basis: 20%; /**/
    order:3;
}
.basis-30{
    flex-basis: 30%; /**/
}
.basis-50{
    flex-basis: 50%;
    order:-1;
}















