/* 일반 구조 선택자 */

/* :first-child : 형제 관계의 요소 중 첫번째 요소를 선택 */
    /* 주의 : #test1 > p:first-child{ 의 뜻은 "#test1의 첫번째 자식이 p 태그 라면" 이다 */
    #test1 > p:first-child{
        background-color: red;
        color: white;
    }


/* 주의:  #test1 > pre:last-child 의 뜻은, 
    #test1 의 자식 중 마지막 자식이 pre 태그라면? 이다. */
    #test1 > pre:last-child{
        background-color: blue;
    }


/* nth-child(수열) :
    형제 관계 요소 중 지정된 수열번째 요소를 모두 선택    
    순서 따질 때 1부터 시작 */

    /* #test 자식 중 2번째 요소가 p 태그 라면? 의 뜻이다. */
    #test1> p:nth-child(2){
        background-color: yellow;
    }

    /* #test 자식 중 4번째 요소가 p 태그 라면? 의 뜻이다. */
    #test1>p:nth-child(4){
        background-color: green;
    }

    /* 홀수번째 형제 요소 선택자 */
    #test1>p:nth-child(2n-1){
        font-weight: bold;
        font-size: 30px;
    }

    /* 짝수번째 형제 요소 선택자 */
    #test1>p:nth-child(2n){
        border: 3px solid black;
    }

    /* nth-last-child(수열) 
        형제 관계 요소 중
        뒤에서부터 지정된 수열 번째 요소를 모두 선택
    */
    /* #test1 자식 중에 뒤에서부터 2번째 태그가 p태그 라면~ */
    #test1>p:nth-last-child(2){
        border: 3px solid red;
    }


/* ******************************************************* */
    /* 형태 구조 선택자 */

    /* first-of-type */
    /* #test2의 자식 중 p타입 중에 첫번째 */
    #test2 > p:first-of-type{
        background-color: orange;
    }

    /* last of type */
    /* #test2의 자식 중 p타입 중에 마지막 */
    #test2 > p:last-of-type{
        background-color: skyblue;
    }

    /* nth-of-type */
    /* #test2 의 자식 중 p타입 중에 홀수번째 요소의 글자크기 30px로 변경 */
    #test2 > p:nth-of-type(2n-1){
        font-size:30px;
    }

    /* nth-last-of-type */
    /* #test2의 자식 p태그 중에서 짝수번째 요소의 배경색을 빨강색으로 변경 */
    #test2 > p:nth-last-of-type(2n){
        background-color: red;
    }

/* ****************************************** */

/* 부정 선택자 */
/* #test3 의 자식 중 li 중 3의 배수를 "제외한" */
#test3 > li:not(:nth-of-type(3n)){
    background-color: aqua;
}

