/* color 속성 */

#color-ul > li {
    font-size: 24px;
    font-weight: bold;
}
#color-ul > li:nth-child(1) {
    color: red; 
}
#color-ul > li:nth-child(2){
    color: #8918f5;
}
#color-ul > li:nth-child(3){
    color: rgb(252, 186, 3);
}
#color-ul > li:nth-child(4) {
    color: rgba(50, 100, 150, 0.3);
}

#color-ul > li:nth-child(5) {
    color: hsl(360, 100%, 50%);
}

#color-ul > li:nth-child(6) {
    color: hsla(360, 100%, 50%, 0.5);
}

/* text-decoration */
#deco-ul > li:nth-child(1){
    text-decoration: underline;
}
#deco-ul > li:nth-child(2){
    text-decoration: line-through;
}
#deco-ul > li:nth-child(3){
    text-decoration: overline;
}
#deco-ul > li:nth-child(4) > a{
}

/* text-align */
#align-test {
    width: 350px;
    border: 2px solid black;
}

#align-test > p:nth-child(1){
    text-align: left; /* 기본 값 */

}
#align-test > p:nth-child(2){
    text-align: right; /* 오른쪽 정렬 */
}
#align-test > p:nth-child(3){
    text-align: center; /* 가운데 정렬 */
}
#align-test > p:nth:child(4){
    /* 이거 좀 중요 */
    text-align: justify; /* 양쪽에 딱 붙이게끔 정렬*/
}
#div1 > div {
    width: 50px;
    height: 50px;
    background-color: red;
    display:inline-block;
}
#div1{
    text-align:center;
}
#line-test > p:last-child{
    line-height: 30px;
}

#center-test{
    width: 200px;
    height:200px;
    border: 1px solid black;
    text-align: center;   
}
#center-test > span {
    background-color: pink;
    line-height: 200px;
}
#letter-test{
    letter-spacing: 10px;
}
#shadow-test > p:nth-child(1){
    text-shadow: 1px black;
}
#shadow-text {
    background-color: black;
    padding: 30px;
}
#shadow-text > p {
    font-size: 75px;
    font-weight: bold;
}
#shadow-text > p:nth-child(1){
    color: orange;
    text-shadow: 3px 3px white; /* x y */
}
#shadow-text > p:nth-child(2){
    color: white;
    text-shadow: 5px 5px 5px #ddd; /* x y z축 */
}
#shadow-text > p:nth-child(3){
    color: rgba(255,255,255,0.9);
    text-shadow: 0px 0px 10px magenta; /* x y z축 */
}
#shadow-text > p:nth-child(4){
    text-shadow: 0px 0px 4px #ccc,
                0px -5px 4px #ff3,
                2px -10px 6px #fd3,
                -2px -15px 11px #f80,
                2px -20px 18px #f20;
}




